{{! Copyright }}
<footer class="site-footer clearfix">
  <section class="clearfix social-media">
    <a href="http://facebook.com/neworleansglassworks" target="_blank"><i class="huge facebook square icon"></i></a>
    <a href="http://twitter.com/noglassworks" target="_blank"><i class="huge twitter square icon"></i></a>
  </section>

  {{! Credits + Copyright }}
  <section class="glassworks-copyright">
    &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">New Orleans School of Glassworks, Inc.</a> All rights reserved.
  </section>

  {{! Sitemap }}
  <section class="glassworks-sitemap">
    <ul>
      <li>
        <li><a href="/plan-your-visit">Visit Us</a></li>
        <li><a href="/extended-courses">Classes</a></li>
        <li><a href="/group-events-overview">Group Events</a></li>
        <li><a href="/commissions">Commissions</a></li>
        <li><a href="{{@blog.url}}/tag/exhibitions/">Exhibitions</a></li>
      </li>
    </ul>

  </section>
</footer>