    {{! Mega Header Partial }}
    <header class="mega-main-header" style="position: absolute; width: 100%;">

      <a class="mega-logo" href="{{@blog.url}}">New Orleans Glassworks</a>
      <a class="mega-logo-small" href="{{@blog.url}}">Home</a>

      <ul class="mega-header-buttons">
        {{! CSS3 buttons disabled : supplant with native Casper buttons }}
        <li><a class="mega-search-trigger" href="#mega-search" id="mega-search-trigger"><!-- Search --><span></span></a></li>
        <li><a class="mega-nav-trigger" href="#mega-primary-nav" id="mega-nav-trigger"><!-- Menu --><span></span></a></li>
      </ul><!-- mega-header-buttons -->

    </header>